<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="type" i18n>Type</label>
      <input formControlName="typePresta" type="text" class="form-control" id="type">
    </div>

    <div class="form-group">
      <label for="client" i18n>Client</label>
      <input formControlName="client" type="text" class="form-control" id="client">
      <div invalidmessage="client" class="alert alert-danger">
        <p *invalidType="'required'" i18n>
          Champs obligatoire
        </p>
        <p *invalidType="'minlength'" i18n>
          Mini 5 char.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="nbJours" i18n>Nb Jours</label>
      <input formControlName="nbJours" type="text" class="form-control" id="nbJours">
    </div>

    <div class="form-group">
      <label for="tjmHt" i18n>Tjm HT</label>
      <input formControlName="tjmHt" type="text" class="form-control" id="tjmHt">
    </div>

    <div class="form-group">
      <label for="tva" i18n>TVA</label>
      <input formControlName="tva" type="text" class="form-control" id="tva">
    </div>

    <div class="form-group">
      <label for="comment" i18n>Commentaire</label>
      <input formControlName="comment" type="text" class="form-control" id="comment">
    </div>

    <div class="form-group">
      <label for="state" i18n>Etat</label>
      <select formControlName="state" id="state" class="form-control">
        <option *ngFor="let state of states" [ngValue]="state">{{ state }}</option>
      </select>
    </div>
    <app-btn typeButton="submit" label="Valider" [disabled]="form.invalid"></app-btn>

  </form>
</div>
