
<app-template-a title="Commandes 1" subtitle="Liste">
    <app-table-dark class="main-content" [headers]="tableHeaders" *ngIf="collectionOrders as ordersList">
      <tr *ngFor="let order of ordersList">
        <td>{{ order.typePresta }}</td>
        <td>{{ order.client | uppercase | lowercase }}</td>
        <td>{{ order.nbJours }}</td>
        <td>{{ order.tjmHt | currency: 'EUR' }}</td>
        <td>{{ order | total | currency: 'EUR' }}</td>
        <td>{{ order | total: 'ttc' | currency: 'EUR' }}</td>
        <td appState [state]="order.state">
          <select (change)="changeState(order, $event)">
            <option *ngFor="let state of states"
                    [value]="state"
                    [selected]="state == order.state">
              {{ state }}
            </option>
          </select>
        </td>
        <td>
          <app-icon-update routerLink="/orders/edit/{{order.id}}"></app-icon-update>
          <app-icon-update (click)="edit(order)"></app-icon-update>
          <app-icon-delete (click)="deleteOrder(order)"></app-icon-delete>
        </td>
      </tr>
    </app-table-dark>
</app-template-a>
<app-template-a title="Commandes 2" subtitle="Liste">
    <app-table-dark class="main-content" [headers]="tableHeaders" *ngIf="collectionOrders2 as ordersList">
      <tr *ngFor="let order of ordersList">
        <td>{{ order.typePresta }}</td>
        <td>{{ order.client | uppercase | lowercase }}</td>
        <td>{{ order.nbJours }}</td>
        <td>{{ order.tjmHt | currency: 'EUR' }}</td>
        <td>{{ order | total | currency: 'EUR' }}</td>
        <td>{{ order | total: 'ttc' | currency: 'EUR' }}</td>
        <td appState [state]="order.state">
          <select (change)="changeState(order, $event)">
            <option *ngFor="let state of states"
                    [value]="state"
                    [selected]="state == order.state">
              {{ state }}
            </option>
          </select>
        </td>
        <td>
          <app-icon-update routerLink="/orders/edit/{{order.id}}"></app-icon-update>
          <app-icon-update (click)="edit(order)"></app-icon-update>
          <app-icon-delete (click)="deleteOrder(order)"></app-icon-delete>
        </td>
      </tr>
    </app-table-dark>
</app-template-a>