<app-table-light [headers]="tableHeaders" *ngIf="ordersList">
  <tr *ngFor="let order of ordersList">
    <td>{{ order.typePresta }}</td>
    <td>{{ order.client | uppercase | lowercase }}</td>
    <td>{{ order.nbJours }}</td>
    <td>{{ order.tjmHt | currency: 'EUR' }}</td>
    <td>{{ order | total | currency: 'EUR' }}</td>
    <td>{{ order | total: 'ttc' | currency: 'EUR' }}</td>
    <td>{{ order.state }}</td>
  </tr>
</app-table-light>
<div *ngIf="!ordersList">
  Chargement des données....
</div>
