@import 'theme';

app-template-a {
  .table-dark {
    .state-cancel {
      background-color: $color-error;
    }
    .state-in-progress {
      background-color: $color3;
    }
    .state-confirm {
      background-color: $color-success;
    }
    .state-active {
      background-color: $color-success;
    }
    .state-inactive {
      background-color: $color-error;
    }
  }
}

app-template-b {
  .table-dark {
    color: $color2;
    .state-cancel {
      background-color: $color-error;
    }
    .state-in-progress {
      background-color: $color3;
    }
    .state-confirm {
      background-color: $color-success;
    }
    .state-active {
      background-color: $color-success;
    }
    .state-inactive {
      background-color: $color-error;
    }
  }
}



